<template name="AboutLayout">

<body>
  {{> navigation}}
  {{> about}}
  {{> footer}}
</body>

</template>


<template name="about">	
<section id="about" class="swrap">
	<div class="title">
		<div class="container">
			<h1>ABOUT US</h1>
		</div>
	</div>
	
	<div class="container">
	
		<div class="box">
			<h3>Lorem ipsum dolar sit amit</h3>
			<p>Lorem condimentum placerat sagittis, metus magna dapibus nunc, vel pulvinar ligula ligula eget nunc. Nullam sit amet turpis id ex tincidunt bibendum eget ac diam. Morbi et leo ut tellus fermentum facilisis. Vivamus ac laoreet massa. Proin aliquam quam vel arcu porttitor, nec bibendum nunc tincidunt. Suspendisse rutrum sem diam, vel accumsan libero pellentesque a. Curabitur faucibus, purus sed tincidunt dapibus, neque massa accumsan urna, eget euismod neque libero vel nunc. Cras ut elementum justo. Sed vitae lectus dignissim, malesuada unc quis, interdum ante. Phasellus ornare est nibh, ac luctus felis lobortis ac. Aliquam interdum erat eu tincidunt cursus.</p>
		</div>
		
		<div class="box">
			<h3>Lorem ipsum dolar sit amit</h3>
			<p>Lorem condimentum placerat sagittis, metus magna dapibus nunc, vel pulvinar ligula ligula eget nunc. Nullam sit amet turpis id ex tincidunt bibendum eget ac diam. Morbi et leo ut tellus fermentum facilisis. Vivamus ac laoreet massa. Proin aliquam quam vel arcu porttitor, nec bibendum nunc tincidunt. Suspendisse rutrum sem diam, vel accumsan libero pellentesque a. Curabitur faucibus, purus sed tincidunt dapibus, neque massa accumsan urna, eget euismod neque libero vel nunc. Cras ut elementum justo. Sed vitae lectus dignissim, malesuada unc quis, interdum ante. Phasellus ornare est nibh, ac luctus felis lobortis ac. Aliquam interdum erat eu tincidunt cursus.</p>
		</div>
		
		<div class="box">
			<h3>Lorem ipsum dolar sit amit</h3>
			<p>Lorem condimentum placerat sagittis, metus magna dapibus nunc, vel pulvinar ligula ligula eget nunc. Nullam sit amet turpis id ex tincidunt bibendum eget ac diam. Morbi et leo ut tellus fermentum facilisis. Vivamus ac laoreet massa. Proin aliquam quam vel arcu porttitor, nec bibendum nunc tincidunt. Suspendisse rutrum sem diam, vel accumsan libero pellentesque a. Curabitur faucibus, purus sed tincidunt dapibus, neque massa accumsan urna, eget euismod neque libero vel nunc. Cras ut elementum justo. Sed vitae lectus dignissim, malesuada unc quis, interdum ante. Phasellus ornare est nibh, ac luctus felis lobortis ac. Aliquam interdum erat eu tincidunt cursus.</p>
		</div>

	</div>
</section>
</template>