<template name="ChatLayout">

<body>
  {{> navigation}}
  {{> chat}}
</body>

</template>


<template name="chat">	

    <!-- Chat PopUp -->
	<div id="chat-icon">
		<span data-toggle="modal" data-target="#chat-box"><img src="img/chat.png"></span>		
	</div>

<!-- Chat Box Popup -->
<div id="chat-box" class="modal fade" role="dialog">
	<div class="modal-dialog">	
	<div id="chatbox">	
		<div class="hdr-title">
			SortVille Support Team <button type="button" class="down-arw btn btn-default" data-dismiss="modal"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
		</div>
		
		<div class="content">
			<div class="box">
				<div class="sub-hdr">
					Need help with your account? We are here to help!
				</div>
				<img src="img/support-team.png">
			</div>
				
			<div class="date-box">
				<span class="date">11 December 2016</span>
			</div>
			
			<div class="time-hdr">
				10.00am
			</div>
			
			<div class="bubblebox">
				<div class="bubble-box-adm">
					Hi, We are Sortville Support
				</div>
				
				<div class="bubble-box-adm">
					Before we start tell us your email address.
				</div>
				
				<div class="bubble-box-user">
					Hi, I am User
				</div>
				
				<div class="input-chat">
				  <input type="text" class="form-control" placeholder="user@email.com">
				  <span class="input-chat-btn">
					<button class="btn btn-default" type="button">SEND</button>
				  </span>
				</div>
			</div>
		</div>	
	</div>
		
	</div>
</div>	

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>		

    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>
</template>