<template name="EntertainerProfileLayout">

<body>
  {{> afterloginnavigation}}
  {{> profile}}
  {{> footer}}
</body>

</template>


<template name="profile">	
<section id="entertainer-profile" class="dashboard swrap">
	<div class="container">
	
		<div class="col-sm-8">
			<div class="col-sm-6">
				<img class="profile-img" src="img/entertainer/profilepic.jpg">
			</div>
			<div class="col-sm-6 infoline">
				<i class="fa fa-user" aria-hidden="true"></i> <span class="entertainer-name">Azira</span>
				<br/>
				<i class="fa fa-star" aria-hidden="true"></i> <span class="profession">Singer</span>
				<br/>
				<i class="fa fa-none" aria-hidden="false"></i> <span class="profession-type">Pop</span>
				<br/>
				<i class="fa fa-map-marker" aria-hidden="true"></i> <span class="location">Kuala Lumpur</span>
				<br/>
				<i class="fa fa-globe" aria-hidden="true"></i> <span class="entertainer-web"><a href="#">Visit my website</a></span>
				<br/>
				<i class="fa fa-facebook" aria-hidden="true"></i> <span class="entertainer-fb"><a href="#">Visit my Facebook page</a></span>				
			</div>
			
			<div class="col-sm-12 video mobile">
				<h1>Video</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" class="embed-responsive-item" src="https://www.youtube.com/embed/YivYcBRZHHQ"></iframe>
			</div>	
			
			<div class="embed-responsive embed-responsive-16by9">
				<iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" class="embed-responsive-item" src="https://www.youtube.com/embed/YivYcBRZHHQ"></iframe>
			</div>
			</div>
			
			<div class="col-sm-12">
				<h1>About DE FAM</h1>
				
				<p class="p"> “We want to be an empowering voice for young women who dare to be different”. These are the words of three beautiful, strong-willed and independent young women - Fya, Azira and MANGGIS, otherwise known as DE FAM. Due to be released on the 26th of May this year, their debut single and music video, #SUPERGIRLS, embodies the values and principles of powerful women across history. In part, their lyrical content sends across strong and positive messages to young women; encouraging them to work hard play hard and never give up in pursuing their dreams. As they sing it out in the chorus of #SUPERGIRLS.</p>

				<p class="p">“Don’t need to worry ‘bout the things they say, you got the power to stand up today”.</p>
			</div>
			
			<div class="col-sm-12">
				<h1>Services</h1>
				
				<p class="p"> “We want to be an empowering voice for young women who dare to be different”. These are the words of three beautiful, strong-willed and independent young women - Fya, Azira and MANGGIS, otherwise known as DE FAM. Due to be released on the 26th of May this year, their debut single and music video, #SUPERGIRLS, embodies the values and principles of powerful women across history. In part, their lyrical content sends across strong and positive messages to young women; encouraging them to work hard play hard and never give up in pursuing their dreams. As they sing it out in the chorus of #SUPERGIRLS.</p>
			</div>
			
			<div class="col-sm-12">
				<h1>Achievements</h1>
				
				<p class="p"> “We want to be an empowering voice for young women who dare to be different”. These are the words of three beautiful, strong-willed and independent young women - Fya, Azira and MANGGIS, otherwise known as DE FAM. Due to be released on the 26th of May this year, their debut single and music video, #SUPERGIRLS, embodies the values and principles of powerful women across history. In part, their lyrical content sends across strong and positive messages to young women; encouraging them to work hard play hard and never give up in pursuing their dreams. As they sing it out in the chorus of #SUPERGIRLS.</p>
			</div>
			
			<div class="col-sm-12 photos">
				<h1>Photos</h1>					
					<div id="myslider" class="flexslider">
					  <ul class="slides">
						<li data-thumb="img/gallery/slide1-thumb.jpg">
						  <img src="img/gallery/slide1.jpg" />
						</li>
						<li data-thumb="img/gallery/slide2-thumb.jpg">
						  <img src="img/gallery/slide2.jpg" />
						</li>
						<li data-thumb="img/gallery/slide3-thumb.jpg">
						  <img src="img/gallery/slide3.jpg" />
						</li>
						<li data-thumb="img/gallery/slide4-thumb.jpg">
						  <img src="img/gallery/slide4.jpg" />
						</li>
					  </ul>
					</div>
			</div>
			
		
		</div>
		
		<div class="col-sm-4 video desktop">
			<h1>Video</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" class="embed-responsive-item" src="https://www.youtube.com/embed/YivYcBRZHHQ"></iframe>
			</div>	
			
			<div class="embed-responsive embed-responsive-16by9">
				<iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" class="embed-responsive-item" src="https://www.youtube.com/embed/YivYcBRZHHQ"></iframe>
			</div>
		</div>
	
	</div>
</section>
</template>