<template name="FAQLayout">

<body>
  {{> navigation}}
  {{> faq}}
  {{> footer}}
</body>

</template>


<template name="faq">	
<section id="faq" class="swrap">
	<div class="title">
		<div class="container">
			<h1>SORTVILLE FAQ</h1>
		</div>
	</div>
	
	<div class="container">
	
		<div class="col-xs-12">
		  <h3>I am looking to...</h3>
		
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#hire" aria-controls="hire" role="tab" data-toggle="tab">HIRE</a></li>
			<li role="presentation"><a href="#perform" aria-controls="perform" role="tab" data-toggle="tab">PERFORM</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="hire">
			
				<div class="row">
					<h4>1. What is SortVille?</h4>
					<p>SortVille is a platform that helps people to book entertainers for any occasion easier and faster.</p>
				</div>
				
				<div class="row">
					<h4>2. Where can I use SortVille?</h4>
					<p>At the moment, SortVille is only available in Malaysia. Hang in there though, we are expanding as fast as we can! Good music should be shared wherever in the world you are. </p>
				</div>
				
				<div class="row">
					<h4>3. Why should I use SortVille?</h4>
					<p>We have simplified the process of deciding on live music for your event. A process that can be tedious and time consuming has now been simplified to merely a few clicks of the mouse. </p>
				</div>
				
				<div class="row">
					<h4>4. What’s included in the price I see on an artist's profile page?</h4>
					<p>The price you see on an artist's profile is the minimum fee the artist will charge for one set. The price may differ if you have special requests like for the artist to play a longer set, bring additional equipment or travel for your gig.</p>
				</div>
				
				<div class="row">
					<h4>5. Can an artist change their fee?</h4>
					<p>Yes, depending on what is required of them for the gig. However, an artist may not change their fee once the booking is confirmed.</p>
				</div>
				
				<div class="row">
					<h4>6. What if the artist cancels on me?</h4>
					<p>You will be entitled to a full refund if an artists cancels on you. We will also do everything we can to help you book another artist in time for your event. </p>
				</div>
				
				<div class="row">
					<h4>7. Why should I deal through SortVille?</h4>
					<p>Payments made to artists are held by SortVille and only released once they have fulfilled their engagement. That means should anything change unexpectedly, you will be entitled to a full refund and we will do everything we can to help you book another artist in time for your event. </p>
				</div>
				
				<div class="row">
					<h4>8. What is the payment process like?</h4>
					<p>Once an artist confirms your booking, you will be required to pay a 100% of their fee no later than 30 days prior to the date of engagement. If an artist accepts your offer for an engagement with less than 30 days to go, you will be required to pay a 100% of their fee within 24 hours of the artist's confirmation. SortVille will only release payment to the artist once they have fully performed at your engagement.</p>
				</div>
				
				<div class="row">
					<h4>9. How do I contact support?</h4>
					<p>You may email us at hello@sortville.com.</p>
				</div>
			
			</div>
			
			<div role="tabpanel" class="tab-pane" id="perform">
				
				
			</div>
		  </div>

		</div>

	</div>
</section>
</template>