<template name="ServiceReferalLayout">

<body>
  {{> navigation}}
  {{> servicereferal}}
  {{> footer}}
</body>

</template>


<template name="servicereferal">	
<section id="sp-referal" class="swrap">
	<div class="title">
		<div class="container">
			<h1>Referral Program</h1>
		</div>
	</div>
	
	<div class="container">
	
		<div class="box">
			<h4>What is a SortVille Partner?</h4>
			<p>A SortVille Partner is a user who refers new service providers to us.</p>
		</div>
		
		<div class="box">
			<h4>What is the benefits of becoming a SortVille Partner?</h4>
			<p>Know someone who is talented? Refer them to us and get awarded via SortVille credits.  </p>
			<p>As a SortVille Partner, you may refer service providers who are </p>
		</div>
		
		<div class="box">
			<h4>Signing up is easy</h4>
			<p>Refer today and you will start to earn credits for your next event. Plus, signing up takes less than 5 minutes and you may also spread the word to your friends.</p>
		</div>

	</div>
</section>
</template>