<template name="ServiceProviderLayout">

<body>
  {{> navigation}}
  {{> serviceprovider}}
  {{> footer}}
</body>

</template>


<template name="serviceprovider">	
<section id="sp-guide" class="swrap">
	<div class="title">
		<div class="container">
			<h1>Service provider guide</h1>
		</div>
	</div>
	
	<div class="container">
		<h2>A few simple steps...</h2>
	
		<div class="box">
		
			<div class="col-sm-6">
				<h3>Step 1</h3>
				<h4 class="text-bold">Register an account with SortVille</h4>
				
				<p>Register to become a sortVille service provider and build up a great business profile to promote your business!</p>
			</div>
			
			<div class="col-sm-6">
				<img src="img/service-provider-guide/step1.jpg">
			</div>
		</div>
	
		<div class="box">
		
			<div class="col-sm-6">
				<h3>Step 2</h3>
				<h4 class="text-bold">Receive job request from clients that require your services</h4>
				
				<p>Clients in Malaysia will send job requests to us.</p>
				
				<p>We will verify the job requests before sending it to you to make sure you receive genuine client.</p>
			</div>
			
			<div class="col-sm-6">
				<img src="img/service-provider-guide/step2.jpg">
			</div>
		</div>
	
		<div class="box">
		
			<div class="col-sm-6">
				<h3>Step 3</h3>
				<h4 class="text-bold">Decide whether you want to take the job</h4>
				
				<p>After selecting the job that you want to take up, introduce yourself and send an estimated quotation based on the job request. </p>

				<p>Your business profile will be automatically sent to the client.</p>
			</div>
			
			<div class="col-sm-6">
				<img src="img/service-provider-guide/step3.jpg">
			</div>
		</div>
	
		<div class="box">
		
			<div class="col-sm-6">
				<h3>Step 4</h3>
				<h4 class="text-bold">Get hired by clients</h4>
				
				<p>Clients will receive quotation from you and other service providers to make a compariison, they will decide on who they want to hire.</p>
				
				<p>After a successful hire, clients will be able to provide reviews and ratings for your services. Good reviews and ratings will increase your chances of getting more jobs in the future.</p>

			</div>
			
			<div class="col-sm-6">
				<img src="img/service-provider-guide/step4.jpg">
			</div>
		</div>
		
		
		<div class="center-info">
			<button>
				<a href="#">Apply to become a Sortville service provider now!</a>
			</button>
			
			<p class="head">Call or email us if you have any questions</p>
			
			<p class="contact">
				<i class="fa fa-envelope" aria-hidden="true"></i>sortville@example.com
				<i class="fa fa-phone" aria-hidden="true"></i>012-345 6789
			</p>
			
			<div class="review">
				<div class="col-sm-4">
					<img src="img/face.png">
					<p class="name">Chandran</p>
					
					<div class="b-line"></div>
					
					<p class="desc">"SortVille has made it much easier for me to meet new customers. I can issue a quotation and introduce myself without going for a site visit all the time SortVille has connected me to real customers who have hired me. SortVille has helped me close some pretty big construction jobs"</p>
				</div>
				
				<div class="col-sm-4">
					<img src="img/face.png">
					<p class="name">Zaien Kamal</p>
					
					<div class="b-line"></div>
					
					<p class="desc">"This is a really great platform. It's easy to use and gives me much more business opportunity then putting up my company advertisement somewhere."</p>
				</div>
				
				<div class="col-sm-4">
					<img src="img/face.png">
					<p class="name">Allan Gan</p>
					
					<div class="b-line"></div>
					
					<p class="desc">"I receive many requests for my services everyday. I get requests for plastering, flooring, renovation, cabinetry and lots more. This is the type of work that I do. I just respond with a quotation for the job and the customer contacts me. It's that easy"</p>
				</div>
				
			</div>
		</div>
	</div>
		
	<div class="tips">
	
		<div class="container">
			<h2>For a great profile</h2>
			
			<div class="col-sm-6">
				<div class="box2">
					<h3>Tip #1</h3>
					
					<p>Build a Winning Profile</p>
					
					<ul>
						<li>Promote your experience and skills.</li>					
						<li>Talk about your qualifications, certifications, licenses, etc.</li>						
						<li>Include photographs of yourself and your work.</li>
					</ul>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="box2">
					<h3>Tip #2</h3>
					
					<p>Provide a Great Service & Ask for Reviews</p>
					
					<ul>
						<li>Respond quickly with your quotation</li>
						<li>Always follow up with the customer</li>
						<li>Ask for reviews from customers.</li>
					</ul>
				</div>
			</div>
			
			<div class="invisible-spacing"></div>
			
			<div class="col-sm-6">
				<div class="box2">
					<h3>Tip #3</h3>
					
					<p>Make a Personal Connection</p>
					
					<ul>
						<li>Be clear & professional in your intro to the customer</li>
						<li>Give a detailed, accurate and competitive quote</li>
						<li>If you can't quote, give an estimate or price range</li>
					</ul>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="box2">
					<h3>Tip #4</h3>
					
					<p>Follow Up</p>
					
					<ul>
						<li>Follow up with the customer after sending a quote</li>
						<li>Keep trying. Persistence is key</li>
						<li>Ask us for help if needed. We're happy to assist</li>
					</ul>
				</div>
			</div>
			
			<div class="invisible-spacing"></div>			
			
			<div class="btm-button">
				<button>
					<a href="#">Apply to become a Sortville service provider now!</a>
				</button>
			</div>
		</div>
	</div>

</section>
</template>