<template name="starLayout">

<body>
  {{> navigation}}
  {{> star}}
  {{> footer}}
</body>

</template>


<template name="star">	
<section id="star-rating" class="swrap">
	<div class="title">
		<div class="container">
			<h1>How would you like to see things improved?</h1>
			<h3>Please spare a few minutes to let us know how things can be improved.</h3>
		</div>
	</div>
	
	<div class="container">
	
		<div class="step-title">Provider Name</div>

		
		<div class="form-group">
			<div class="rating col-md-12">

			

    <!-- Change starability-basic to different class to see animations. -->
    <fieldset class="starability-basic">
      <input type="radio" id="rate5" name="rating" value="5" />
      <label for="rate5">5 stars, amazing.</label>

      <input type="radio" id="rate4" name="rating" value="4" />
      <label for="rate4">4 stars, very good.</label>

      <input type="radio" id="rate3" name="rating" value="3" />
      <label for="rate3">3 stars, average.</label>

      <input type="radio" id="rate2" name="rating" value="2" />
      <label for="rate2">2 stars, not good.</label>

      <input type="radio" id="rate1" name="rating" value="1" />
      <label for="rate1">1 star, terrible.</label>
    </fieldset>
  
  
  
			</div>	  
			<div class="col-md-12 comment">		  
				<textarea rows="4" cols="50" name="msg" form="msg" placeholder="Leave a comment"></textarea>
			</div>
		
			<a href="#" class="cont-button">Submit</a>		
		</div>

	</div>
</section>
</template>