<template name="step1Layout">

<body>
  {{> navigation}}
  {{> step1}}
  {{> footer}}
</body>

</template>


<template name="step1">	
<section id="step1" class="swrap">
	<div class="title">
		<div class="container">
			<h1>Sign up with SortVille and get job requests from Malaysians everyday.</h1>
			<h3>Fill in your details and we will contact you to conduct a quick business verification  before you can start recieving job requests</h3>
		</div>
	</div>
	
	<div class="container">
	
		<div class="step-title">Step 1: Pick your art</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/singer.jpg"></a>
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/dancer.jpg"></a>			
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/magician.jpg"></a>			
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/liondance.jpg"></a>
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/dj.jpg"></a>			
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/emcee.jpg"></a>			
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/singer.jpg"></a>
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/dancer.jpg"></a>			
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/magician.jpg"></a>			
		</div>
		
		<div class="col-xs-6 col-sm-4">
			<a href="#"><img src="img/find/liondance.jpg"></a>
		</div>

	</div>
</section>
</template>