<template name="step3Layout">

<body>
  {{> navigation}}
  {{> step3}}
  {{> footer}}
</body>

</template>


<template name="step3">	
<section id="step3" class="swrap">
	<div class="title">
		<div class="container">
			<h1>After you sign up, you will receive an e-mail or phone call from us for verification.</h1>
			<h3>It may take a while for the submition to be processed. We thank you for your patience and understanding.</h3>
		</div>
	</div>
	
	<div class="container">
	
		<div class="step-title">Step 3: Fill in your business details</div>

		
		<form>
			<div class="col-sm-6">
			  <div class="form-group">
				<label for="formGroupExampleInput">Business Name <span class="star-required">*</span></label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder=" " required>
			  </div>
			  <div class="form-group">
				<label for="formGroupExampleInput2">Company Registration Number (SSM)</label>
				<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Optional">
			  </div>
			  <div class="form-group">
				<label for="formGroupExampleInput">State <span class="star-required">*</span></label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder=" " required>
			  </div>
			  <div class="form-group">
				<label for="formGroupExampleInput2">Website</label>
				<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Optional">
			  </div>
			  <div class="form-group">
				<label for="formGroupExampleInput">Facebook Page</label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Optional">
			  </div>
			</div>
			
			<div class="col-sm-6">
				<p>Which areas are you willing to provide your services <span class="star-required">*</span></p>
				
				<div class="form-group options">
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" name="location" class="custom-control-input" required>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Kuala Lumpur</span>
				  </label>
					
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" name="location" class="custom-control-input" required>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Johor</span>
				  </label>
				  
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" name="location" class="custom-control-input" required>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Penang</span>
				  </label>
				</div>
			</div>
		
						
			<div class="col-xs-12">
				<div class="is-required">* is required</div>
				<button type="submit" class="cont-button">Continue</button>
			</div>

		</form>
		
		
	</div>
</section>

</template>