<template name="UserRequestLayout">

<body>
  {{> afteruserloginnavigation}}
  {{> urequest}}
  {{> footer}}
</body>

</template>


<template name="urequest">	
<section id="user-request" class="dashboard swrap">
	
	<div class="container">
		
		<div class="go-back other"><a href="#">Go Back</a></div>
	
		<div class="col-md-12">
			<h3>Request summary</h3>
			
			<h4>Request ID <span class="rid">80323</span></h4>
			
			<h4>Request details</h4>
			
			<div class="b-line"></div>
			
			<div class="box">
				<p>What is your gender?</p>
				<p class="gender">Female</p>
			</div>
			
			<div class="box">
				<p>How old are you?</p>
				<p class="age">50</p>
			</div>
			
			<div class="box">
				<p>When do you need it?</p>
				<p class="date">01/04/2016</p>
			</div>
			
			<div class="box">
				<p>Where do you need it?</p>
				<p class="location">Bukit Damansara</p>
			</div>
			
			<div class="box">
				<p>What is your gender?</p>
				<p class="gender">Female</p>
			</div>
			
			<div class="box">
				<p>How old are you?</p>
				<p class="age">50</p>
			</div>
			
			<div class="box">
				<p>When do you need it?</p>
				<p class="date">01/04/2016</p>
			</div>
			
			<div class="box">
				<p>Where do you need it?</p>
				<p class="location">Bukit Damansara</p>
			</div>
			
			<div class="box">
				<p>What is your gender?</p>
				<p class="gender">Female</p>
			</div>
			
			<div class="box">
				<p>How old are you?</p>
				<p class="age">50</p>
			</div>
			
			<div class="box">
				<p>When do you need it?</p>
				<p class="date">01/04/2016</p>
			</div>
			
			<div class="box">
				<p>Where do you need it?</p>
				<p class="location">Bukit Damansara</p>
			</div>
			
			<div class="box">
				<p>What is your gender?</p>
				<p class="gender">Female</p>
			</div>
			
			<div class="box">
				<p>How old are you?</p>
				<p class="age">50</p>
			</div>
			
			<div class="box">
				<p>When do you need it?</p>
				<p class="date">01/04/2016</p>
			</div>
			
			<div class="box">
				<p>Where do you need it?</p>
				<p class="location">Bukit Damansara</p>
			</div>
			
			<div class="box">
				<p>What is your gender?</p>
				<p class="gender">Female</p>
			</div>
			
			<div class="box">
				<p>How old are you?</p>
				<p class="age">50</p>
			</div>
			
			<div class="box">
				<p>When do you need it?</p>
				<p class="date">01/04/2016</p>
			</div>
			
			<div class="box">
				<p>Where do you need it?</p>
				<p class="location">Bukit Damansara</p>
			</div>
			
			<div class="box">
				<p>What is your gender?</p>
				<p class="gender">Female</p>
			</div>
			
			<div class="box">
				<p>How old are you?</p>
				<p class="age">50</p>
			</div>
			
			<div class="box">
				<p>When do you need it?</p>
				<p class="date">01/04/2016</p>
			</div>
			
			<div class="box">
				<p>Where do you need it?</p>
				<p class="location">Bukit Damansara</p>
			</div>
			
			<div class="box">
				<p>What is your gender?</p>
				<p class="gender">Female</p>
			</div>
			
			<div class="box">
				<p>How old are you?</p>
				<p class="age">50</p>
			</div>
			
			<div class="box">
				<p>When do you need it?</p>
				<p class="date">01/04/2016</p>
			</div>
			
			<div class="box">
				<p>Where do you need it?</p>
				<p class="location">Bukit Damansara</p>
			</div>
		</div>
		
		<div class="col-md-12 right bdr-top">
			<div class="col-xs-1">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</div>
			
			<div class="col-xs-11 colour-red">
				<h4 class="colour-red">Important things to consider before hiring. Please read.</h4>
				
				<p>Out of respect to the service providers, please let them know if you have hired someone or if you no longer required their services.
				</p>
			</div>
		</div>


	</div>
</section>
</template>